/* ||||||||||||||||||||||||||||||||| Griff's polished turd ||||||||||||||||||||||||||||||||| */

/* ||||||||||||||||||||||||||||||||| First thing's first, subreddit-wide stuff ||||||||||||||||||||||||||||||||| */
body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: -1px 1px 3px #fff;
}

.hover a:hover {
  text-shadow: -1px 1px 3px #fff;
}

.error {
  color: #095f00;
}

.tagline a {
  color: #17ff36;
  text-decoration: none;
}

.tagline a:hover {
  text-shadow: -1px 1px 3px #00ff25;
}

.link .usertext-body .md {
  background: black;
  color: #17ff36;
  border: 2px solid #17ff36;
  border-radius: 0;
}

/* ||||||||||||||||||||||||||||||||| Move on to header ||||||||||||||||||||||||||||||||| */
#sr-header-area a:hover {
  text-decoration: none;
  text-shadow: -1px 1px 3px #00ff25;
}

#header {
  border-bottom: 2px solid #17ff36;
  background-color: #000;
}

.redditname {
  font-size: 50px;
  color: #17ff36;
}

.redditname:hover {
  text-shadow: -1px 1px 6px #00ff25;
}

.tabmenu li a {
  border-bottom: none;
}

.tabmenu .selected a {
  color: 17ff36;
  background: #000;
  border: 1px solid #17ff36;
  border-bottom-color: black;
}

#header-bottom-right .user {
  color: #000;
  font-weight: bold; /* (With the green background, this text looks kinda shitty with normal weight) */
}

#header-bottom-right .user a, .pref-lang {
  color: #fff;
}

/* ||||||||||||||||||||||||||||||||| Sidebar, and let's take it from the top ||||||||||||||||||||||||||||||||| */

input[type=text], input[type=password] {
  background-color: #000;
  border-color: #17ff36;
  color: #17ff36;
}

input[type="text"]:focus, input[type=password]:focus {
  outline: #17ff36 5px auto;
}

.infobar, .linkinfo {
  background-color: #000;
  border: 2px solid #17ff36;
}

.login-form-side .submit {
  background-color: #17ff36;
  border-color: #000;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.submit-link, .submit-text {
  background-color: #000;
  border-color: #17ff36;
}

.morelink, .morelink:hover {
  background: #000;
  border-color: #17ff36;
  background-image: none;
}

.morelink a, .morelink:hover a {
    color: #17ff36;
}

.morelink .nub {
  height: 29px;
  background: #000;
  border: 1px solid #17ff36;
  border-left: none;
}

.morelink:hover .nub {
  background-color: #17ff36;
}

.md a:hover, .author:hover {
  text-shadow: -1px 1px 3px #fff;
}
